<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.it.fogarasi.norbert.f1quiz">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="false"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.GameActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/label_settings"/>
        <activity android:name=".activities.GameOverDialog"
            android:theme="@style/myDialog.NoTitle"
            android:icon="@mipmap/game_over"
            android:noHistory="true"/>
        <activity android:name=".activities.StatisticActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.MainActivity"
            android:label="@string/label_statistic"/>
        <activity android:name=".activities.RulesActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/label_rules"/>
    </application>

</manifest>
